header {
  display: flex;
  background-color: white;
  margin: 0;
  color: rgb(0, 0, 0);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 0%;

  .brand {
    flex: 1;
    display: flex;
    align-items: center;

    img {
      height: 35px;
      border-radius: 50%;
      margin-right: 17px;
    }

    h5 {
      font-family: 'Lobster', cursive;
      font-size: 23px;
      margin: 0;
      letter-spacing: 1px;
      color: rgb(52, 186, 219);
      background: linear-gradient(
        90deg,
        rgba(52, 186, 219, 0.9878326330532213) 44%,
        rgba(0, 255, 190, 1) 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
    display: flex;

    li {
      display: flex;
      align-items: center;
      position: relative;
      vertical-align: middle;

      .img1 {
        width: 100px;
        vertical-align: middle;
      }

      .img2 {
        width: 40px !important;
        vertical-align: middle;
        border-radius: 50%;
        
      }

      .badge {
        height: 20px;
        width: 20px;
        font-size: 13px;
        color: white;
        background-color: #000000;
        display: flex;
        justify-content: center;
        vertical-align: bottom;
        align-items: center;
        position: absolute;
        top: 10px;
        right: 25px;
        border-radius: 50%;
      }
    }
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-dark .navbar-brand {
  color: rgb(0, 0, 0);
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0%;
  margin: 0%;
  width: 100%;
  margin-bottom: 0% !important;
}

nav-link {
  display: block;
  padding: .5rem 1rem;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(0, 0, 0);
}


.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(0, 0, 0);
  align-items: center;
  vertical-align: middle;
 
}

.bg-light {
  background-color: #f8f9fa00!important;
}

header[_ngcontent-c1] ul[_ngcontent-c1] li[_ngcontent-c1] img[_ngcontent-c1] {
  width: 100px !important;
  padding-left: 50% !important;
}

.logocart {

  width: 20% !important;

}

a {
  color: #000000;
  text-decoration: none;
  background-color: transparent;
}