<meta name="Header" content="width=device-width, initial-scale=1">

<head>

  <meta name="Header" content="Author: Guillermo Galindo,
    Illustrator: Guillermo Galindo">

</head>

<!doctype html>
<html lang="en">
<header>
  
 
  <nav class="mb-1 navbar navbar-expand-lg navbar-light bg-light lighten-1">
    <a href="./home"><img id="logosup" class="header" src= "assets/logos/LOGO simple psyco.svg" alt="logoheader"></a>
    <a class="navbar-brand" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
      aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">

      
      <ul class="navbar-nav ">
        <li class="nav-item ">
          <a href="./iot"><img src="/assets/logos/iot logo.png" alt="iot"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./services" >Services</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="./about" >AboutUs</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="./register" >SingUp</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="./login" >Login</a>
        </li>
        <li class="nav-item" style=" background-color: black; border-radius: 50%; margin-top: 0.5%;">
          <a href="./checkout"><img src="/assets/logos/addcart.png" alt="cart" style=" width: 50px; "></a>
        </li>

        <li class="nav-item">
          <span class="badge" *ngIf="counter > 0">{{ counter }}</span>
        </li>
        

      </ul>

    </div>

  </nav>
  
</header>

</html>


