<!doctype html>
<html lang="en">


<body>


  <footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light">
      <div class="container">
        <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget subscribe no-box">
              <h3 class="widget-title">CNCienta.com<span></span></h3>
              <p>Your DIY Shop</p>
              <p><a href="/assets/CNCienta.com Registration Agreement.pdf">Privaticy Policy</a></p>
              <p><a href="/assets/CNCienta.com Registration Agreement.pdf">Registration Agreement</a></p>
              
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget no-box">
              <h3 class="widget-title">QUICK LINKS<span></span></h3>
              <ul class="thumbnail-widget">

                <li>
                  <div class="thumb-content"><a href="./home">Home</a></div>
                </li>
                <li>
                  <div class="thumb-content"><a href="./iot">IOT Portal</a></div>
                </li>
                <li>
                  <div class="thumb-content"><a href="./services">Services</a></div>
                </li>
                <li>
                  <div class="thumb-content"><a href="./register">SingUp</a></div>
                </li>
                <li>
                  <div class="thumb-content"><a href="./login">Login</a></div>
                </li>
                <li>
                  <div class="thumb-content"><a href="./checkout">CheckOut</a></div>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget no-box">
              <h3 class="widget-title">GET STARTED<span></span></h3>
              <p>Get access to your full project features and work enviroment</p>
              <a class="btn" href="/register" target="_blank">Register Now</a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">

            <div class="widget no-box">
              <h3 class="widget-title">CONTACT US<span></span></h3>

              <p><a href="mailto:support@cncienta.com">support@cncienta.com</a></p>

              <div class="row iconbar" style=" padding-top: 1%;">

                <div class="footericons">
                  <a class="padding-top-subtitle" rel="noopener"  href="https://github.com/CADEOS" target="_blank">
                    <img srcset="" alt="github" src="/assets/logos/GitHub.svg" class="footericons">
                  </a>
                  
                </div>
                <div class="footericons">
                  <a class="padding-top-subtitle" rel="noopener" href="https://web.facebook.com/cadeos.io"
                    target="_blank">
                    <img srcset="" alt="faceook" src="/assets/logos/facebook.svg" class="footericons">
                  </a>
        
                </div>
                <div class="footericons">
                  <a class="padding-top-subtitle" rel="noopener" href="https://twitter.com/cadeosi" target="_blank">
                    <img srcset="" alt="twitter" src="/assets/logos/Twitter.svg" class="footericons">
                  </a>
        
        
                </div>
                <div class="footericons">
                  <a class="padding-top-subtitle" rel="noopener" href="https://t.me/cadeos" target="_blank">
                    <img srcset="" alt="telegram" src="/assets/logos/telegram.svg" class="footericons">
                  </a>
        
                </div>
                <div class="footericons">
                  <a class="padding-top-subtitle" rel="noopener" href="https://medium.com/cadeos-io" target="_blank">
                    <img srcset="" alt="medium" src="/assets/logos/medium.svg" class="footericons">
                  </a>
        
                </div>
                <div class="footericons">
                  <a class="padding-top-subtitle" rel="noopener" href="" target="_blank">
                    <img srcset="" alt="blockchain" src="/assets/logos/blockchain.svg" class="footericons">
                  </a>
        
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p>Copyright CNCienta.com © 2020. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>