

<table class="table table-striped" >
     

    <tbody >
        <tr *ngFor="let cart of cart">           

            <td><img src={{cart.cart.image}} [alt]="cart.name" class="cart-image"></td>
            <td >{{cart.cart.name}}</td>
            <td style="width: 10%">{{cart.cart.price}}</td>
            <td style="width: 30%">{{cart.cart.description}}</td>

   
            <div class="row" style=" vertical-align: bottom;  float: right!important; margin: 1%;">

            <button class="cart-actions__add" (click)="addToCart(cart)" *ngIf="!inCart"> <img src="/assets/logos/addcart.png" alt="add to cart" /> </button>
            
          </div>

          <div class="row" style=" vertical-align: bottom;  float: right!important; margin: 1%;">
            
          <button class="cart-actions__remove" (click)="removeToCart(cart)" *ngIf="!inCart"><img src="/assets/logos/addcart.png" alt="remove from cart" /></button>

        </div>


        <tr *ngIf="!cart">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>

    </tbody>

</table>
  