
<div class="container">

  <div class="row"> 
    <div class="col-3"> 

      <section class="preference">
         <h3>Light</h3>
         <div>
            <button class="btn btn-primary" onclick="toggle(1)">ON</button>
            <button class="btn btn-primary" onclick="toggle(0)">OFF</button>
         </div>
     </section>

     <section class="preference">
      <h3>Vacuum</h3>
      <div>
         <button class="btn btn-primary" onclick="toggle1(1)">ON</button>
         <button class="btn btn-primary" onclick="toggle1(0)">OFF</button>
      </div>
  </section>

  <section class="preference">
    <h3>Water</h3>
    <div>
       <button class="btn btn-primary" onclick="toggle2(1)">ON</button>
       <button class="btn btn-primary" onclick="toggle2(0)">OFF</button>
    </div>
</section>

<section class="preference">
  <h3>Extractor</h3>
  <div>
     <button class="btn btn-primary" onclick="toggle3(1)">ON</button>
     <button class="btn btn-primary" onclick="toggle3(0)">OFF</button>
  </div>
</section>

<section class="preference">
  <h3>Extractor</h3>
  <div>
     <button class="btn btn-primary" onclick="toggle3(1)">ON</button>
     <button class="btn btn-primary" onclick="toggle3(0)">OFF</button>
  </div>
</section>

</div>

<div class="col-3">

  <section class="preference">
    <div>
       <button class="btn btn-primary" onclick="selectx(1)">X</button>
       <button class="btn btn-primary" onclick="Selecty(1)">Y</button>
       <button class="btn btn-primary" onclick="selectz(1)">Z</button>
       <button class="btn btn-primary" onclick="selecta(1)">A</button>
    </div>
  </section>

  <section class="preference" style="margin-top: 20%;">
    <div>
       <button class="btn btn-default" onclick="moveplus(1)"><img src="../../assets/logos/Up.png" width="100px" /></button>
       <button class="btn btn-default" onclick="moveless(1)"><img src="../../assets/logos/Down.png" width="100px" /></button>
       
       <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Speed meters/minute" style="margin-top: 10%;">

    </div>
  </section>

</div>



<div class="col-3">
  <div style="margin-top: 10%; height: 80px;">

    <ngx-gauge [type]="gaugeType"
           [form]="gaugeForm"  
           [value]="gaugeValue" 
           [label]="gaugeLabel1"
           [append]="gaugeAppendText1"
           [thresholds]="thresholdConfig"
           >
</ngx-gauge>

</div>


<div style="margin-top: 40%; height: 80px;">
  
  <ngx-gauge [type]="gaugeType"
  [form]="gaugeForm"  
  [value]="gaugeValue" 
  [label]="gaugeLabel3"
  [append]="gaugeAppendText3"
  [thresholds]="thresholdConfig"
  >
</ngx-gauge>

</div>

</div>


<div class="col-3">
  <div style="margin-top: 10%; height: 80px;">

    <ngx-gauge [type]="gaugeType"
           [form]="gaugeForm"
           [value]="gaugeValue" 
           [label]="gaugeLabel4"
           [append]="gaugeAppendText4"
           [thresholds]="thresholdConfig"
           >
</ngx-gauge>

</div>

<div style="margin-top: 40%; height: 80px;">

  <ngx-gauge [type]="gaugeType"
  [form]="gaugeForm"
  [value]="gaugeValue" 
  [label]="gaugeLabel2"
  [append]="gaugeAppendText2"
  [thresholds]="thresholdConfig"
  >
</ngx-gauge>

</div>


</div>


</div>
