


    <table class="table table-striped" >
     
      <tbody >
          <tr *ngFor="let product of products" >           

              <td><img src={{product.image}} [alt]="product.name" class="product-image"></td>
              <td class="row">{{product.name}}</td>
              <td class="row">{{product.price}}</td>
              <td class="row">{{product.description}}</td>

              <td style="white-space: nowrap">

                  <button (click)="addProduct(product.name)" class="btn btn-sm btn-primary btn-add-user" [disabled]="product.isAdded">
                      <span *ngIf="product.isAdded" class="spinner-border spinner-border-sm"></span>
                      <span *ngIf="!product.isAdded">Add to Cart</span>
                  </button>
              </td>
          
          </tr>

          <tr *ngIf="!products">
              <td colspan="4" class="text-center">
                  <span class="spinner-border spinner-border-lg align-center"></span>
              </td>

      </tbody>
  
  </table>

