

    <table class="table table-striped" >
     
      <tbody >
          <tr *ngFor="let product of products">           

              <td><img src={{product.image}} [alt]="product.name" class="product-image"></td>
              <td class="row">{{product.name}}</td>
              <td class="row">{{product.price}}</td>
              <td class="row">{{product.description}}</td>

              <td style="white-space: nowrap; vertical-align: bottom; float: right!important; ">
                <button
                class="product-actions__add"
                (click)="addToCart(product)"
                *ngIf="!inCart"
              >
                <img src="/assets/logos/addcart.png" alt="add to cart" />
              </button>
              </td>
          
          </tr>

          <tr *ngIf="!products">
              <td colspan="4" class="text-center">
                  <span class="spinner-border spinner-border-lg align-center"></span>
              </td>

      </tbody>
  
  </table>

