main{
  width: 90%;
  margin: auto;
  padding: 20px 20px;

  .banners{
    display: flex;
    align-items: center;
    justify-content: center;

    div{
      width: 15%;
      margin-right: 5%;
      margin-left: 5%;

      img{
        height: 150px;
        width: 100%;
        max-width: 100%;
        border-radius: 10px;
        object-fit: cover;
      }
    }
  }
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0);
  background-clip: border-box;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: .25rem;
  width: 500px;
  margin-top: 1%;

}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}